/* #bg{
background-color: yellow;
} */
html{
    font-size: 20px;
}
body{
    
    background-color: burlywood;
    border-style: solid;
}
#bg{
    background-color: white;
    border-style: solid;
    color: lawngreen;
    height: 70%;
    width: 95%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1{
    color: seagreen;
    text-size-adjust: 40px;
    text-align: center;
    border-style: solid;
    border-color: magenta;
}
p{
    color: black;
}
#pr{
  background-color: honeydew;
    color: green ;
    border-style: dotted;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 5%;
}
#border{
    border-style: outset;
    background-color: mediumaquamarine;
    height: 100%;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
h2{
    color: rgb(15, 102, 15);
    border-style: groove;
    height: 100%;
    width: 100%;
    text-align: center;
}
/* Padding Text*/
#p3{
    color:blue;
    border-style: solid ;   
    border-color: crimson;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:30px ;
    line-height: 30px;
    text-indent: 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
/* Shadow text */
#shadow{
 font-size: 40px;
 font-style: italic;
 border-style: solid;
 border-color: darkcyan;
 margin-top: 5%;
 padding-left: 5%;
 padding-top: 5%;
 padding-bottom: 5%;
 padding-right: 5%;
 text-shadow: 3px 5px 8px red;
 font-variant: small-caps;
}
#links{
    text-decoration: none ;
    border-style: solid;
    border-color: royalblue;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: lighter;
    cursor: pointer;


}
                       /* google link deoration*/
    a{
        text-decoration: none;
    }
    a:link{
        color: red;
    }
    a:visited{
        color: blue;
    }
    a:hover{
        color: yellowgreen;
    }
    a:active{
        color: orangered;
    }
#fontfromgoogle{
    font-family: 'Yusei Magic', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: double;
    border-color: rgb(0, 3, 10);
    margin-top: 5%;
}
/* border shadow */
#boxshadow{
    border: 2px solid blue;
    padding: 10% 10% 10% 10%;
    background-color: rgb(191, 171, 209);
    color: black;
    box-shadow: 10px 20px 5px rgb(226, 223, 41);
    margin: 10% 10% 10% 10%;
    text-shadow: 5px 3px 2px green;
    font-size: 30px;
}
#colorbox{
    border:2px solid black;
    margin-bottom: 10%;
    margin-left: 20%;
    height: 400px;
    width: 400px;
    overflow: auto;
    resize: none;
} 
ul{
    list-style-type: square;
}
ol{
    list-style-type: decimal-leading-zero;
}
li{
    border: 1px dotted;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    empty-cells: hide;
    table-layout: fixed;
    width: 30%;
    margin: 30%;
    background-color: chartreuse;
}
caption{
    border: 1px solid black;
    background-color: cornflowerblue;

}
tr{
    border: 1px solid black;
    padding: 5%;
}
th{
    border: 1px solid black;
    padding: 5%;
    
}
td{
    border: 1px solid black;
    padding: 5%;

}
#button{
    padding: 10px 30px;
    margin: 20px;
    background-color: lightsalmon;
    color: white;
    text-decoration: none;
}
#div1{
    background-color: blueviolet;
    width: 600px;
    height: 150px;
}
#div2{
    background-color: chocolate;
    width: 600px;
    height: 150px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: border-box;
}
  /* object Fit */
img{
    border: 1px solid red;
    width: 500px;
    height: 400px;
    object-fit: cover;
    object-position: top right;
}

.bdr {
    border: 1px solid red;
}
#extra{
    border: solid 2px red;
    font-style: italic;
    color:navy;

}